<nav>
  <ul class="links">
    <li (click)="openWindow('homePage')">
      <img src="assets/svgs/logo.svg" alt="LeterioSystem2000 Logo">
      {{(language$|async)?.home}}
    </li>
    <li (click)="openWindow('biographBot')">{{(language$|async)?.about}}</li>
    <li (click)="openWindow('projectron')">{{(language$|async)?.projectsTechnologies}}</li>
    <li class="language" (click)="toggleLanguageOptionsIsOpen(!languageOptionsIsOpen)">
      {{(language$|async)?.language}}
      <img [src]="languageName == 'english'?'assets/images/IrelandFlag.png':'assets/images/BrazilFlag.png'"
        alt="Language Flag">
      <ul (clickOutside)="toggleLanguageOptionsIsOpen(false)" [@inOutAnimation] *ngIf="languageOptionsIsOpen"
        class="dropdown">
        <li (click)="dispatchLanguage('english')">
          <img src="assets/images/IrelandFlag.png" alt="Ireland Flag - Language Option">
          <span>English</span>
        </li>
        <li (click)="dispatchLanguage('portuguese')">
          <img src="assets/images/BrazilFlag.png" alt="Brazil Flag - Language Option">
          <span>Portuguese</span>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="time">
    <li>
      <button (click)="toggleVolumeRangeIsOpen(!volumeRangeIsOpen)">
        <img [src]="volume != 0?'assets/images/SoundOpen.png':'assets/images/SoundMuted.png'" alt="Sound Icon">
      </button>
      <ul (clickOutside)="toggleVolumeRangeIsOpen(false)" [@inOutAnimation] *ngIf="volumeRangeIsOpen"
        class="dropdown volumeOptions">
        <span>{{volume}}</span>
        <input [(ngModel)]="volume" (ngModelChange)="dispatchVolume()" type="range">
      </ul>
    </li>
    <li>{{time}}</li>
  </ul>
</nav>
