#particles-js {
  width: 100vw;
  height: 100vh;
  background-color: #550000;
  z-index: -2;
}

main *, app-navbar {
  position: relative;
}

app-navbar{
  z-index: 10000000000000000;
}

.desktop_icons {
  width: 100%;
  height: 100%;
  position: absolute !important;
  z-index: -1;

  .table_line {
    display: flex;
    width: 100%;
    height: fit-content;
    height: calc((100% - 29px) / 6);
    .table_cell {
      width: 100%;
      height: 100%;
      div{
        width: 100%;
        height: 100%;

      }
    }
  }
}


.background_img {
  position: absolute !important;
  bottom: 0;
  user-drag: none;
  -webkit-user-drag: none;
  z-index: -3;

  &.asset_1 {
    left: 0;
    height: 80vh;
  }

  &.asset_2 {
    right: 0;
    height: 50vh;
  }
}
