<app-navbar></app-navbar>
<main class="body">
  <app-desktop-icon-handler></app-desktop-icon-handler>
  <img draggable="false" class="background_img asset_1" src="../assets/images/background_asset_1.png"
    alt="Background Asset">
  <img draggable="false" class="background_img asset_2" src="../assets/images/background_asset_2.png"
    alt="Background Asset">
  <ngx-particles id="tsparticles" [options]="(colors$|async)?.particlesSettings"></ngx-particles>
  <window-colors [style.zIndex]="(windows$|async)?.colors?.zIndex"></window-colors>
  <window-call-me-baby [style.zIndex]="(windows$|async)?.callMeBaby?.zIndex"></window-call-me-baby>
  <window-home-page [style.zIndex]="(windows$|async)?.homePage?.zIndex"></window-home-page>
  <window-ltr-music-player [style.zIndex]="(windows$|async)?.ltrMusicPlayer?.zIndex"></window-ltr-music-player>
  <window-projectron [style.zIndex]="(windows$|async)?.projectron?.zIndex"></window-projectron>
  <!-- <window-biograph-bot [isWindowClosed]="isWindowClosed" [(isClosed)]="isWindowClosed.biographBot"
    [windowText]="languages[languageName].biographBotWindow">
  </window-biograph-bot> -->
</main>
