#particles-js {
  width: 100vw;
  height: 100vh;
  background-color: #550000;
  z-index: -2;
}

main *, app-navbar {
  position: relative;
}

app-navbar{
  z-index: 10000000000000000;
}



.background_img {
  position: absolute !important;
  bottom: 0;
  user-drag: none;
  -webkit-user-drag: none;
  z-index: -3;

  &.asset_1 {
    left: 0;
    height: 80vh;
  }

  &.asset_2 {
    right: 0;
    height: 50vh;
  }
}
