.content {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-height: 80vh;
    overflow: hidden;

    header {
        padding: 1rem 0;
        text-align: center;
        width: 100%;
        border-bottom: 2px solid var(--font-color);

        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 2.25rem;
        }
    }

    .text_content {
        display: flex;
        font-size: 1.5rem;
        height: max-content;
        overflow: overlay;

        .technologies {
            padding: 1rem 1.5rem;
            display: flex;
            flex-direction: column;
            width: 30%;
            border-right: 2px solid var(--font-color);

            .technology_lists {
                display: flex;
                gap: 1rem;
                flex-direction: column;

                ul {
                    padding-left: 1.5rem;
                    list-style-type: square;

                    li {
                        cursor: pointer;
                        transition: 50ms ease-in-out;
                        color: var(--link-color);

                        span {
                            color: var(--link-color);
                        }

                        &:hover {
                            filter: brightness(1.3);
                            transform: scale(1.05);
                            transform-origin: left;
                        }
                    }
                }
            }
        }

        .technology_view {
            padding: 1rem 1.5rem 2rem 1.5rem;
            display: flex;
            flex-direction: column;
            flex: 1;
            overflow: overlay;

            .project_grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;
                margin-top: 1rem;

                .project {
                    cursor: pointer;
                    font-size: 1.25rem;

                    transition: ease-in-out 200ms;

                    &:hover {
                        transform: scale(1.02);
                        transform-origin: center;

                        .images {
                            filter: brightness(1.2);
                            transform: scale(1.02);
                            transform-origin: center;
                            transition: ease-in-out 200ms;
                        }

                        .images .img_1 {
                            animation: imgOneAnimation 10s ease-in-out infinite;
                        }

                        .images .img_2 {
                            animation: imgTwoAnimation 10s ease-in-out infinite;
                        }
                    }

                    .images {
                        position: relative;
                        border: 3px solid var(--font-color);
                        overflow: hidden;
                        display: flex;

                        img {
                            width: 100%;
                        }

                        .after_image {
                            position: absolute;

                            &.img_1 {
                                left: 100%;
                            }

                            &.img_2 {
                                top: 100%;
                            }
                        }
                    }



                    h2 {
                        font-size: 1.5rem;
                        font-weight: 400;
                    }
                }
            }
        }

        .project_view {
            display: flex;
            flex-direction: column;
            flex: 1;

            .title {
                padding: 1rem 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                position: relative;
                border-bottom: 2px solid var(--font-color);

                svg {
                    position: absolute;
                    left: 1rem;
                    cursor: pointer;

                    fill {
                        transition: ease-in-out 1000ms;
                        fill: black;
                    }

                    transition: ease-in-out 200ms;

                    &:hover {
                        path {
                            fill: var(--link-color);
                        }
                    }
                }
            }

            .project_info {
                padding: 1rem 1.5rem;
                overflow: overlay;

                .technology_bubbles {
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    margin: .5rem 0;
                    flex-wrap: wrap;

                    span {
                        padding: .25rem 1rem;
                        border-radius: .25rem;
                        background-color: var(--secondary-color);
                        color: white;
                        text-shadow:
                            -2px -2px 0 #000,
                            2px -2px 0 #000,
                            -2px 2px 0 #000,
                            2px 2px 0 #000,
                            -3px 0px 0 #000,
                            3px 0px 0 #000,
                            0px -3px 0 #000,
                            0px 3px 0 #000;
                    }
                }

                .image_grid {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 1rem;

                    img {
                        border: 3px solid var(--font-color);
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                        &:hover {
                            cursor: pointer;
                            filter: brightness(1.2);
                            transform: scale(1.02);
                            transform-origin: center;
                            transition: ease-in-out 200ms;
                        }
                    }
                }


            }
        }


    }

    .img_slider {
        display: flex;
        position: relative;
        background-color: var(--primary-color);
        width: 80vw;
        overflow: hidden;

        .close_button {
            font-size: 2rem;
            z-index: 1;
            position: absolute;
            cursor: pointer;
            background-color: transparent;
            scale: 1;
            transition: ease-in-out 200ms;
            padding: 1rem 2rem;
            border: none;
            &:hover {
                scale: 1.2;
            }
        }

        .imgs {
            display: flex;
            align-items: center;
            transition: ease-in-out 200ms;
            img {
                object-fit: contain;
                width: 80vw;
                height: 100%;
                max-height: 80vh;
                transition: ease-in-out 200ms;
            }
        }


        .movement_button {
            z-index: 1;
            font-size: 3rem;
            position: absolute;
            height: 50%;
            align-self: center;
            border: none;
            cursor: pointer;
            background-color: transparent;

            scale: 1;
            transition: ease-in-out 200ms;
            padding: 0 2rem;

            &:hover {
                scale: 1.2;
            }

            &.next {
                right: 0;
            }
        }
    }
}

@keyframes imgOneAnimation {
    0% {
        left: 100%;
    }

    10% {
        left: 0%;
    }

    50% {
        left: 0%;
    }

    60% {
        left: 100%;
    }
}

@keyframes imgTwoAnimation {
    40% {
        top: 100%;
    }

    50% {
        top: 0%;
    }

    80% {
        top: 0%;
    }

    90% {
        top: 100%;
    }
}

@media screen and (max-height:768px) {
    .content {
        header {
            padding: .5rem 0;

            h1 {
                font-size: 2.5rem;
            }

            h2 {
                font-size: 2rem;
            }
        }

        .text-content {
            .personalData {
                padding: 1rem 1.5rem;

                img {
                    padding-left: .75rem;
                    width: 20vw;
                }
            }

            .topics {
                padding: 1rem 1.5rem;
            }
        }
    }

}