.window {
  position: absolute;
  border: 2px solid var(--font-color);
  transform: translate(-50%, -50%);
  box-shadow: .5rem .5rem 0 0 rgba(0, 0, 0, .25);
  .header {
    border-bottom: 2px solid var(--font-color);
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;

    .name {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 0.5rem;
      padding: 0 .25rem;

      img {
        font-size: 1.5rem;
      }
      .title {
        font-size: 1.5rem;
      }
    }

    .buttons {
      display: flex;

      .button {
        flex: 1;
        border: none;
        padding: 4px 6px;
        border-left: 2px solid var(--font-color);
        font-size: 1.25rem;
        text-shadow: 0 0 1px black;
        cursor: pointer;
        background-color: transparent;
      }
    }
  }
}
