@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
  --font-color: black;
  --primary-color: #ffc9c9;
  --secondary-color: #6361a1;
  --link-color: #166AB7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VT323';
  color: var(--font-color);
  transition: 200ms ease-in-out;
}

body {
  background-color: var(--secondary-color);
  overflow: hidden;
}

img{
  user-select: none;
}

.window {
  background-color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  border-left: 2px solid var(--font-color);
  background: url('assets/images/scrollbarTexture.png');
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: url('assets/images/scrollbarSymbol.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--primary-color);
  border-left: 2px solid var(--font-color);
  border-top: 2px solid var(--font-color);
  border-bottom: 2px solid var(--font-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
