@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
  --font-color: black;
  --primary-color: #ffc9c9;
  --secondary-color: #6361a1;
  // --window-shadow:;
}

body {
  background-color: var(--secondary-color);
  overflow: hidden;
}

.window {
  background-color: var(--primary-color);
}
